<div class="footer">
 <ul><li class="top"><a href="#">About us</a></li>
     <li><a href="#">Mission Statement</a></li>
     <li><a href="#">Goals</a></li>
     <li><a href="#">Management</a></li></ul>
 <ul><li class="top"><a href="#">Contac us</a></li>
     <li><a href="#">Email</a></li>
     <li><a href="#">hone Number</a></li>
     <li><a href="#">Facebook</a></li></ul>
 <ul><li class="top"><a href="#">Company Info</a></li>
     <li><a href="#">Terms and Conditions</a></li>
     <li><a href="#">Careers</a></li>
     <li><a href="#">Support Us</a></li></ul>
 <ul><li class="top"><a href="#">Jobs</a></li>
     <li><a href="#">Site Map</a></li>
     <li><a href="#">Returns</a></li>
     <li><a href="#">Privacy Policy</a></li></ul>
</div>
</div>
</body>
</html>