<?php
include_once(GIOLIB . 'navigation/HoriNavRetriver.php');
include_once(GIOLIB . 'navigation/VertiNavRetriver.php');
//include_once(EULIB . 'navigation/CategoryNavRetriver.php');
?>

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="noindex"/>
<link rel="stylesheet" style="text/css" href="/gioCMS/css/mainLayout.css">
<link rel="stylesheet" style="text/css" href="/gioCMS/css/mainDesign.css">
<link href="/gioCMS/css/horinavLayout.css" rel="stylesheet" type="text/css"/>
<link href="/gioCMS/css/horinavDesign.css" rel="stylesheet" type="text/css"/>
<link href="/gioCMS/css/verinavLayout.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/gioCMS/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/gioCMS/js/FormValidator.js"></script>
<script type="text/javascript" src="/gioCMS/js/onload.js"></script>
<script>
function myFunction(id)
{
   var box = id/100;
   $("#" + box + " ul").toggle();
}
</script>
<title>imperialmoves</title>
</head>
<body>
<div class="mainContainer">
	 <!--<div class="header">
	   <img alt="business logo" src="images/businessdotlink.jpg" />
	 </div>-->
	 <div class="horinav">
	  <ul>
	  <!--<li><a class="first" href="/">Home</a></li>
	  <li><a href="/llc.php">LLC</a><ul><li class="top"><a href="llcApplication.pdf">Applcation</a></li>
	                                    </ul></li>
	   <li><a href="/moversLicense.php">MoversLicense</a><ul><li class="top"><a href="/roadToLicenseBrochure.pdf">Brochure</a></li>
	                                <li><a href="/moversApplication.pdf">Application</a></li>
	                                <li><a href="/handbook.pdf">Handbook</a></li>
	                                <li><a href="/obstaclesToLicense.pdf">Micellaneous</a></li>
	                                </ul></li>
	 <li><a class="first" href="/safety.php">Safety</a></li>
	 <li><a class="first" href="/maintenance.php">Maintenance</a></li> 
	 <li><a class="first" href="/training.php">Training</a></li>
	 <li><a class="first" href="/budget.php">Budget</a></li>-->
	 <?php
	 $horiNav = new HoriNavRetriver();
	 $horiNav->ec();
	 ?>
	 </ul>
	 </div>
	 <div class="vertiNav">
	    <ul>
	    <?php
	     /* $cnr = new CategoryNavRetriver();
	      $cnr->ec();*/
	    ?>
	    </ul>
	 </div>
 <?php
 echo "\n";
 ?>